@model IEnumerable<WMS_Inventory_API_Client.Models.Container>

@{
    ViewData["Title"] = "Account";
}

<h1 class="page-header">Containers</h1>

<hr />
<br />
<br />
<p>
    <a class="center" asp-action="Create">Create New</a>
</p>

<div id="no-more-tables">
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.StorageLocation.LocationName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Type)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Description)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td data-title="Location Name">
                    @Html.DisplayFor(modelItem => item.StorageLocation.LocationName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Type)
                </td>
                <td data-title="Description">
                    @Html.DisplayFor(modelItem => item.Description)
                </td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                    <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                    <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
                </td>
                @{
                    TempData["accountId"] = Html.DisplayFor(modelItem => item.StorageLocation.AccountId);
                }
            </tr>
        }
    </tbody>
</table>
<div class="center">
    <a class="link" onClick='location.href="/StorageLocation/Account/"+@TempData["accountId"]'><u>Back to Storage Location List</u></a>
</div>
<br />
<br />