@model WMS_Inventory_API_Client.Models.Content

@{
    ViewData["Title"] = "Details";
}

<h1 class="page-header">Content Details</h1>
<hr />
<br />
<br />

<div>
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Quantity)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Quantity)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Description)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Description)
        </dd>
        <dt class = "col-sm-2">
            Container Description
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Container.Description)
        </dd>
        @{
            TempData["containerId"] = Html.DisplayFor(model => model.Container.Id);
            TempData["contentId"] = Html.DisplayFor(model => model.Id);
        }
    </dl>
</div>
<div class="center">
    <a class="link" onClick='location.href="/Contents/Edit/"+@TempData["contentId"]'><u>Edit Contents</u></a>&nbsp;&nbsp;|&nbsp;&nbsp;
    <a class="link" onClick='location.href="/Container/Details/"+@TempData["containerId"]'><u>Back to Container</u></a>
</div>
<br />
<br />

